name: Update Configs

on:
  schedule:
    - cron: "0 */23 * * *" 
  workflow_dispatch: # دکمه اجرای دستی در تب Actions

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run script
        run: python config_generator.py
      
      - name: Commit and Push
        run: |
         git config --global user.name "github-actions[bot]"
         git config --global user.email "github-actions[bot]@users.noreply.github.com"
         git add *_nodes.txt
         # این خط از خطای 128 در صورتی که تغییری نباشد جلوگیری می‌کند
         git commit -m "Update configs" || exit 0
         git push origin main
